.contact-preview {
    display: flex;
    align-items: center;
    gap: 10px;
    background: $clr-bg3;
    // max-width: 300px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;

    &.selected-contact{
        background: $clr-blue;

        &:hover{
            background: $clr-blue;
        }
    }

    &:hover{
        background:  $clr-bg2;
    }

    h4 {
        max-width: 70%;
        text-overflow: ellipsis;
        overflow: hidden;
        &::selection{
            background: transparent;
        }
    }

    img {
        width: 50px;
        border-radius: 50%;
    }
}
