.contact-filter {
    margin: 10px 0;
    display: flex;
    gap: 10px;

    input {
        background: $clr-bg1;
        flex-grow: 1;
        padding: 10px;
        font-size: 14px;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        color: $clr-txt1;
    }

    button {
        border: 1px solid transparent;
        border-radius: 5px;
        width: 35px;
        aspect-ratio: 1;
        font-size: 25px;
        color: $clr-txt1;
        background: $clr-blue;
        cursor: pointer;

        &:hover {
            color: $clr-blue;
            background: transparent;
            border: 1px solid $clr-blue;
        }
    }
}
