$clr-bg1: #171430;
$clr-bg2: #211D44;
$clr-bg3: #4B477A;
$clr-blue: #007AFF;
$clr-pink: #e23dabb0;
$clr-txt1: #FFFFFF;
$clr-txt2: #494577;


$mobile-breakpoint: 450px;
$tablet-breakpoint: 750px;
$normal-breakpoint: 1150px;
$large-breakpoint: 1300px;
